.topContent h1 {
    font-size: 32px;
    font-weight: 400;
    margin-left: 30px
}

.form {
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    width: 900px;

}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, 1fr); /* 2 columns with equal width */
    grid-template-rows: auto; /* 5 rows with equal height */
    gap: 20px;
}

.field {
    display: flex;
    flex-direction: column;
}