.userContainer {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    border-radius: 10px;
    margin-bottom: 30px;
}

.userContainer h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.userSection p {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin: 10px 0;
}

.userSection p strong {
    color: #333;
}

.resumeContainer {
    width: 80%;
    max-width: 1000px;
    margin: 30px auto;
    padding: 20px;
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    border-radius: 10px;
}

.resumeContainer h1 {
    text-align: center;
    font-size: 28px;
    color: #333;
    margin-bottom: 20px;
}

.resumeSection {
    margin-bottom: 40px;
}

.resumeSection h2 {
    font-size: 20px;
    color: #444;
    margin-bottom: 10px;
    border-bottom: 1px solid #DDDDDC;
    padding-bottom: 5px;
}

.resumeSection p, .resumeSection li {
    font-size: 1em;
    color: #555;
    line-height: 1.6;
    margin: 5px 0;
}

.resumeSection ul {
    list-style-type: disc;
    margin-left: 20px;
    padding-left: 0;
}

.resumeSection li {
    margin-bottom: 5px;
}

.resumeSection li strong {
    color: #333;
}

.resumeSection span {
    font-size: 0.9em;
    color: #666;
}
