.page {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    font-family: 'Inter', sans-serif;
}

.content {
    margin: 0 auto;
    width: 80%;
    max-width: 800px;
    padding: 20px;
}

.companyContainer {
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
}

.title {
    font-size: 32px;
    font-weight: bold;
    margin-bottom: 10px;
}

.about {
    font-size: 16px;
    color: #555;
    margin-bottom: 20px;
}

.details {
    font-size: 16px;
    color: #333;
}

.details p {
    margin-bottom: 10px;
}

strong {
    color: #000;
}
