.page {
    direction: rtl;
}

.content {
    display: flex;
    width: 100%;
    gap: 20px;
    margin-top: 70px;
}

.job_details {
    flex: 2;
    padding: 20px;
    box-sizing: border-box;
    margin: 20px 10px 20px 20px;
}

.profile_container,
.apply_container {
    padding: 20px;
    box-sizing: border-box;
}

.profile_container {
    margin-bottom: 20px;
}

.profile_container,
.apply_container {
    flex: 1;
    margin: 20px 20px 20px 10px;
}

.apply_container h2 {
    font-size: 24px;
}

.buttonContainer {
    background-color: #003459;
    color: #FFFFFF;
    text-align: center;
    padding: 10px;
    cursor: pointer;
    margin-top: 10px;
}
