.component {
    border: 1px solid #DDDDDC;
    width: 90%;
    margin-left: 20px;
    padding: 20px;
    border-radius: 10px;
    margin-top: 20px;
    position: relative; /* Make the .component container a positioning context */
}

.component > div {
    margin: 10px;
}

.details h2 {
    font-size: 24px;
    margin-bottom: 20px;
}

.details div {
    font-size: 18px;
    color: #525252;
    margin: 10px;
    font-weight: 500;
}

.component > hr {
    color: #a5a5a5;
    background-color: #a5a5a5;
    border-top: 1px solid #a5a5a5;
}

.buttonContainer {
    position: absolute;
    right: 20px; /* Align the button to the right */
    top: 20px; /* Adjust this value to place the button at the desired vertical position */
    width: 120px;
    height: 50px;
    background-color: #003459;
    color: #FFFFFF;
    text-align: center;
    line-height: 50px;
}

.buttonContainer:hover {
    cursor: pointer;
    background-color: #FFFFFF;
    color: #003459;
    border: 1px solid #003459;
}
