.page {
    direction: rtl;
}

.content {
    margin-top: 70px;
}

.content h1 {
    margin: 30px !important;
    font-size: 24px !important;
    text-align: right;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
}

.listContainer>div:first-child {
    width: 40%;
}

.listContainer>div:nth-child(2) {
    width: 60%;
}

.itemContainer, .activeItem  {
    border: 1px solid #DDDDDC;
    height: 230px;
    margin: 20px;
    border-radius: 10px;
    box-sizing: border-box;
    padding: 20px;
}

.itemContainer h3, .activeItem h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.itemContainer div, .activeItem div {
    margin: 10px;
}

.activeItem {
    border: 1px solid #ADECFE;
}

.pagination {
    margin: 20px;
}

.company:hover {
    cursor: pointer;
}
