.page {
    direction: rtl;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    padding: 20px; 
    margin-top: 70px;
}

.content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-left: 5%;
}

.content>div {
    margin: 0 auto;
}

.listContainer {
    width: 100%; 
    max-width: 1200px; 
}

.listHead, .listBody {
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    width: 100%; 
    margin: 10px 0; 
    padding: 15px; 
}

.thead th {
    padding: 10px 5px; 
    height: 80px; 
}

.tbody td {
    padding: 10px 5px; 
    height: 80px; 
    vertical-align: middle; 
}

.tbody tr {
    border-bottom: 1px solid #DDDDDC;
}

.col1 {
    width: 5%;
}

.col2 {
    width: 15%;
}

.col3 {
    width: 15%;
}

.col4 {
    width: 15%;
}

.col5 {
    width: 15%;
}

.col6 {
    width: 15%;
}

.col7 {
    width: 15%;
}

.col8 {
    width: 5%;
}

th:first-child {
    padding-left: 20px;
}

td:first-child {
    padding-left: 20px;

}

.pagination {
    margin-top: 20px !important;
}

.iconContainer {
    display: flex;
    line-height: 60px;
}

.iconContainer div:hover {
    cursor: pointer;
}

.iconContainer svg {
    width: 24px;
}