.content {
    margin-top: 70px;
}

.content h1 {
    margin: 40px 0 0 25px;
    font-size: 28px;
}

.listContainer {
    display: flex;
    flex-direction: row;
    justify-content: space-between; /* Adjust as needed */
    align-items: flex-start; /* Adjust as needed */
}

.listContainer>div:first-child {
    width: 40%;
}

.listContainer>div:nth-child(2) {
    width: 60%;
}

.itemContainer, .activeItem  {
    border: 1px solid #DDDDDC;
    height: 230px;
    margin: 20px;
    border-radius: 10px;
    box-sizing: border-box; /* Ensure padding and border are included in the width */
    padding: 20px;
}

.itemContainer h3, .activeItem h3 {
    font-size: 20px;
    margin-bottom: 10px;
}

.itemContainer div, .activeItem div {
    margin: 10px;
}

.activeItem {
    border: 1px solid #ADECFE;
}

/* .pagination {
    display: flex;
    justify-content: center;
    margin: 20px 0;
} */

.pagination {
    margin: 20px;
}

.company:hover {
    cursor: pointer;
}
