.page {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    display: flex;
    flex-direction: column;
    justify-content: center; /* Horizontally centers the content */
    padding: 20px; /* Adds padding around the entire content */
}

.content h1 {
    font-size: 24px;
    font-weight: 700;
    margin-left: 5%;
}

.content>div {
    margin: 0 auto;
}

.listContainer {
    width: 100%; /* Ensures the container takes the full width available */
    max-width: 1200px; /* Restricts the maximum width to a reasonable size */
}

.listHead, .listBody {
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    width: 100%; /* Makes the tables take up the full width of the container */
    margin: 10px 0; /* Adds margin between the tables */
    padding: 15px; /* Adds padding inside the tables */
}

.thead th {
    padding: 10px 5px; /* Padding around the table headers */
    height: 80px; /* Set a fixed height for table headers */
}

.tbody td {
    padding: 10px 5px; /* Padding around the table cells */
    height: 80px; /* Set a fixed height for table rows */
    vertical-align: middle; /* Vertically center the content within table cells */
}

.tbody tr {
    border-bottom: 1px solid #DDDDDC;
}

.col1 {
    width: 5%;
}

.col2 {
    width: 15%;
}

.col3 {
    width: 15%;
}

.col4 {
    width: 15%;
}

.col5 {
    width: 15%;
}

.col6 {
    width: 15%;
}

.col7 {
    width: 15%;
}

.col8 {
    width: 5%;
}

th:first-child {
    padding-left: 20px;
}

td:first-child {
    padding-left: 20px;

}

.pagination {
    margin-top: 20px !important;
}

.iconContainer {
    display: flex;
    line-height: 60px;
}

.iconContainer div:hover {
    cursor: pointer;
}

.iconContainer svg {
    width: 24px;
}