.page {
    font-family: "Inter", sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    margin: 0 auto;
    width: 900px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border: 1px solid #DDDDDC;
    padding: 20px;
    border-radius: 10px;
}

.img_container img {
    width: 400px;
    border-radius: 0 10px 10px 0;
}

.img_container {
    display: flex;
    justify-content: center;
}

.form_container {
    margin-top: 30px;
    width: 400px;
}

.form_container h1 {
    font-size: 32px;
    font-weight: 400;
    margin-left: 30px
}

.field_container {
    display: flex;
    flex-direction: column;
    margin: 25px;
}

.field_container input {
    border: 1px solid #DDDDDC;
    margin-top: 10px;
    height: 32px;
    line-height: 32px;
    border-radius: 10px;
    width: 295px;
    padding: 3px;

}

.field_container input::placeholder {
    font-size: 14px;
    padding-left: 3px;
}

.form_container>div>a {
    font-size: 14px;
    margin-left: 30px;
}

.buttonContainer button {
    margin-left: 30px;
}

.error {
    color: #FB5C5C;
    font-size: 12px;
}

.error svg {
    width: 15px;
}

.error div {
    display: inline;
}
