.content {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 20px;
}

.messageContainer {
    background-color: white;
    border-radius: 10px;
    padding: 20px;
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.1);
    width: 60%;
}

.title {
    font-size: 24px;
    font-weight: bold;
    margin-bottom: 20px;
}

p {
    margin: 10px 0;
    font-size: 16px;
}

.greenStatus {
    font-weight: bold;
    color: green;
}

.redStatus {
    font-weight: bold;
    color: red;
}
