.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center; 
    width: 100%; 
    margin-top: 70px;
}

.topContent {
    width: 80%; 
    margin-bottom: 20px; 
    text-align: left; 
}

.topContent > h1 {
    font-size: 32px;
    font-weight: 400;
    margin-left: 0;
    text-align: left;
}

.listContainer {
    width: 80%;
}

.listHead, .listBody {
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    width: 100%; 
    margin: 10px 0;
    padding: 15px; 
}

.thead th {
    padding: 10px 5px;
    height: 80px; 
}

.tbody td {
    padding: 10px 5px; 
    height: 80px; 
    vertical-align: middle; 
}

.tbody tr {
    border-bottom: 1px solid #DDDDDC;
}

.col1 {
    width: 5%;
}

.col2 {
    width: 20%;
}

.col3 {
    width: 20%;
}

.col4 {
    width: 20%;
}

.col5 {
    width: 20%;
}

.col6 {
    width: 15%;
}

.pagination {
    margin-top: 20px;
    display: flex;
    justify-content: center;
    width: 100%;
}
