.content {
    display: flex;
    flex-direction: column;
    align-items: center; /* Center content horizontally */
    width: 100%; /* Full width of the parent container */
    padding: 0 15px; /* Optional: Add padding if needed */
}

.listContainer {
    width: 80%; /* Ensures the container takes the full width available */
}

.listHead, .listBody {
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    width: 100%; /* Makes the tables take up the full width of the container */
    margin: 10px 0; /* Adds margin between the tables */
    padding: 15px; /* Adds padding inside the tables */
}

.thead th {
    padding: 10px 5px; /* Padding around the table headers */
    height: 80px; /* Set a fixed height for table headers */
}

.tbody td {
    padding: 10px 5px; /* Padding around the table cells */
    height: 80px; /* Set a fixed height for table rows */
    vertical-align: middle; /* Vertically center the content within table cells */
}

.tbody tr {
    border-bottom: 1px solid #DDDDDC;
}

.tbody tr:hover {
    cursor: pointer;
}

.col1 {
    width: 5%;
}

.col2 {
    width: 20%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 25%;
}

.col5 {
    width: 25%;
}
