.page {
    direction: rtl;
}

.content {
    display: flex;
    flex-direction: column;
    align-items: center; 
    width: 100%; 
    padding: 0 15px; 
    margin-top: 70px;
}

.content h1 {
    font-size: 24px;
}

.listContainer {
    width: 80%; 
}

.listHead, .listBody {
    box-shadow: 1px 4px 4px 0px rgba(89, 89, 89, 0.34);
    width: 100%; 
    margin: 10px 0;
    padding: 15px; 
}

.thead th {
    padding: 10px 5px; 
    height: 80px; 
}

.tbody td {
    padding: 10px 5px; 
    height: 80px; 
    vertical-align: middle; 
}

.tbody tr {
    border-bottom: 1px solid #DDDDDC;
}

.tbody tr:hover {
    cursor: pointer;
}

.col1 {
    width: 5%;
}

.col2 {
    width: 20%;
}

.col3 {
    width: 25%;
}

.col4 {
    width: 25%;
}

.col5 {
    width: 25%;
}
