.navContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 1000;
    background-color: #003459; /* Blue background */
}

.navbar {
    display: flex;
    justify-content: space-between; /* Space between the first part and profile/login */
    align-items: center;
    padding: 10px 20px;
    background-color: #003459;
    color: #fff;
}

.navItems {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%; /* Makes sure the profile/login part is aligned to the right */
    list-style-type: none;
    margin: 0;
    padding: 0;
}

.firstPart {
    display: flex; /* Align the links next to each other */
}

.firstPart li {
    margin-right: 20px;
}

.navbar li a {
    color: #ffffff;
    text-decoration: none;
}

.navbar li a:hover {
    color: #ADECFE;
}

.profileContainer {
    position: relative;
}

.dropDown {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 100%;
    right: 0;
    background-color: #ffffff;
    color: #003459;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2000;
    width: 150px;
    list-style: none;
}

.dropDown li {
    cursor: pointer;
    background-color: #003459;
    color: #FFFFFF;
    border-bottom: 1px solid #ddd;
    margin-bottom: 0 !important;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
}

.dropDown li a {
    display: inline-block;
    width: 150px;
    height: 50px;
    line-height: 50px;
    padding-left: 5px;
}

.dropDown li a:hover, .dropDown li:hover {
    color: #ADECFE;
}