.navContainer {
    position: relative;
    z-index: 1; /* Ensure the navbar is on top */
}

.navbar ul {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    list-style: none;
    height: 50px;
    line-height: 50px;
    background-color: #003459;
    color: #FFFFFF;
}

li {
    display: inline-block;
}

li > a {
    display: inline-block;
    width: 150px;
    padding-left: 10px;
    text-decoration: none;
    color: #FFFFFF;
}

li > a:hover {
    color: #ADECFE;
    cursor: pointer;
}

.login > a {
    width: fit-content;
}

.login > a:hover {
    color: #ADECFE;
    background-color: #003459;
}

.login {
    margin-right: 10px;
}

.profile {
    margin-right: 20px;
}

.profile:hover {
    cursor: pointer;
}

.profileContainer {
    position: relative;
    display: inline-block;
}

.dropDown {
    display: flex !important;
    flex-direction: column !important;
    position: absolute;
    top: 100%; /* Position below the profile icon */
    right: 0;
    background-color: #ffffff; /* Dropdown background color */
    color: #003459;
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 0; /* Remove padding to make background color consistent */
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    z-index: 2; /* Ensure dropdown hovers over other elements */
    width: 150px; /* Set a fixed width */
}

.dropDown li {
    padding: 10px 12px; /* Add padding for each item */
    cursor: pointer;
    background-color: #003459; /* Ensure each item has the same background color */
    color: #FFFFFF; /* Text color for each item */
    border-bottom: 1px solid #ddd; /* Add a separator between items */
}

.dropDown li:last-child {
    border-bottom: none; /* Remove the border from the last item */
}
