.component {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
}
  
.content {
    margin: 0 auto; 
    width: 80%;
    max-width: 800px;
    padding: 20px;
}
  
.heading {
    text-align: left;
    margin: 10px;
}

.personalInfo {
    border: 1px solid silver;
    border-radius: 10px;
    padding: 20px;
    margin-top: 20px;
    display: flex;
}
  
.personalInfo>div:first-child {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
}

.personalInfo>div>div {
    margin: 10px;
}
  
.names {
    display: flex;
    gap: 10px;
}

.iconContainer {
    position: relative;
    left: 500px;
    top: -20px;
}
  