.page {
    direction: rtl;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

.content {
    margin: 0 auto;
    width: 950px;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 10px;
    border: 1px solid #DDDDDC;
    padding: 20px;
    border-radius: 10px;
}

.img_container img {
    width: 400px;
    border-radius: 0 10px 10px 0;
}

.img_container {
    display: flex;
    justify-content: center;
}

.form_container {
    padding: 50px;
    width: 450px;
}

.form_container h1 {
    font-size: 32px;
    font-weight: 400;
    margin-bottom: 20px;
}

.fields {
    display: flex;
    justify-content: space-between;
}

.field_container {
    display: flex;
    flex-direction: column;
    margin-bottom: 20px;
}

.field_container input {
    border: 1px solid #DDDDDC;
    height: 32px;
    line-height: 32px;
    border-radius: 10px;
    margin-bottom: 10px;
    width: 350px;
    padding: 3px;
}

.field_container input::placeholder {
    font-size: 14px;
    padding-left: 3px;
}

.fields input {
    width: 135px;
}

.form_container>div>div>a {
    font-size: 14px;
}

.buttonContainer {
    text-align: center;
}

.error {
    color: #FB5C5C;
    font-size: 12px;
}

.error svg {
    width: 15px;
}

.error div {
    display: inline;
}
