.button_container button {
    margin-top: 10px;
    width: 120px;
    height: 40px;
    line-height: 20px;
    font-size: 14px;
    background-color: #003459;
    color: #FFFFFF;
    border: none;
    border-radius: 10px;
}

.button_container button:hover {
    cursor: pointer;
}