.content {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.content>div {
    background-color: #fff;
    border-radius: 12px;
    padding: 40px;
    width: 100%;
    max-width: 800px;
    box-shadow: 0px 4px 12px rgba(0, 0, 0, 0.1);
}

h1 {
    font-size: 32px;
    font-weight: 600;
    color: #333;
    margin-bottom: 30px;
    text-align: center;
}

.form {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: 1fr 1fr; /* Two columns */
    grid-gap: 30px;
}

.field {
    display: flex;
    flex-direction: column;
}

label {
    font-size: 16px;
    font-weight: 600;
    color: #555;
    margin-bottom: 8px;
}

input {
    padding: 10px 15px;
    font-size: 16px;
    border: 1px solid #ccc;
    border-radius: 8px;
    transition: border-color 0.3s ease;
}

input:focus {
    border-color: #007bff;
    outline: none;
}

.buttonContainer {
    text-align: center;
    margin-top: 20px;
}

button {
    padding: 12px 20px;
    font-size: 18px;
    background-color: #007bff;
    color: white;
    border: none;
    border-radius: 8px;
    cursor: pointer;
    transition: background-color 0.3s ease;
}

button:hover {
    background-color: #0056b3;
}