.page {
    direction: rtl;
}

.content {
    margin-top: 70px;
}

.content h1 {
    margin: 20px;
    font-size: 30px;
}

.container {
    width: 800px;
    margin: 0 auto;
    padding: 20px;
    background: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.buttonContainer {
    text-align: center;
}

.buttonContainer button {
    width: 150px;
    height: 50px;
}