.page {
    font-family: "Inter", sans-serif;
}

.form {
    border: 1px solid #DDDDDC;
    border-radius: 10px;
    width: fit-content;
    padding: 10px;
    margin: 20px;
}

.gridContainer {
    display: grid;
    grid-template-columns: repeat(2, auto);
}

.field {
    display: flex;
    flex-direction: column;
    margin: 20px;
}

.field>input {
    width: 370px;
    height: 40px;
    border: 1px solid #DDDDDC;
    border-radius: 10px;
    margin-top: 10px;
}

.buttonContainer {
    text-align: center;
    margin-top: 20px;
}